$bodyfont:"Georgia", "times", serif;

body {
  font-family: "Georgia", "times", serif;
  color: white;
  font-size: 1rem;
  line-height: normal;
  font-weight: normal;
}
​.txt-sm {
  font-size: 14px;
}
​.txt-md {
  font-size: 16px;
}
​.txt-lg {
  font-size: 24px;  
}
​.txt-xl {
  font-size: 52px;  
}
    ​.txt-center {
  text-align: center;
}
.txt-left {
  text-align: left;
}
.txt-right {
  text-align: right;
}