a.enlace {
    position: relative;
    display: flex;
    justify-content: space-between;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border: 1px solid #222;
    border-radius: 10px;
    margin: 50px;
    text-decoration: none;
    padding: 10px 25px;
}   
a.enlace:hover{
    background: #222;
    color: #fff;
}   


img.imagen{
    width: 50px; 
}