body {
    margin: 0;
    padding: 0;
    background-color: rgba(207, 207, 207, 0.699);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
h1 {
    margin: 10px 0 0 30px;
}

nav {
    display: flex;
    flex-direction: column;
    background-color: black;
    color: white;
    text-align: center;
}

nav ul {
    display: block;
    line-height: 60px;
    margin: 0;
    padding: 0;
    font-size: 24px;
}

li {
    display: flex;
    justify-content: center;
    text-decoration: none;
}
section {
    display: flex;
    flex-direction:column;
    position: relative;
    color: #fff;
    background: #472a2a;
    margin: 0;
    padding: 10px;
}


header {
    color: #fff;
    line-height: 2;
    display: flex;
    height: 90px;
    margin: 0;
    padding: 0 25px;
    background: #af8d8d;
}

main{
    background-color: rgb(207, 188, 188);
    margin: 0;
    padding: 40px 10px;
  }
  
  footer {
      background: #333;
  }
  
.imagen img{
    width: 100%;
}
.cuerpo {
    min-height: 100vh;
}
@media (max-width:1000px) and (min-width:480px) {
    .cuerpo{
     display: grid;
     grid-template-areas:
         "nav main"
         "nav footer";
     grid-template-columns: 20% 80%;
     grid-gap: 0 7px;
 }
 nav {  
     grid-area:nav;
 }
 main {
     grid-area: main;
     display: flex;
     flex-direction: row;
 }
 footer {
     grid-area:footer;
 }
 .texto {
     display:inline;
 }
 .imagen {
     display: inline;
 }
 
}

@media (min-width:1000px) {
    .cuerpo{
        display: grid;
        grid-template-areas:
            "nav main footer";
        grid-template-columns: 20% 60% 20%;
    }
    nav {  
        grid-area:nav;
    }
    main {
        grid-area: main;
        display: flex;
        flex-direction: row;
    }
    footer {
        grid-area:footer;
    }
    .texto {
        display:inline;
    }
    .imagen {
        display: inline;
    }

}