body {
    background-color: rgb(229, 192, 192);
     color: #333;
}

h1 {
    text-align: center;
}

#imagen {
    display: inline-block;
    width: 200px;
    height: 200px;
}

/* La imagen se  deforma porque no son sus medidas originales,