.text-link {
    color: rgb(129, 44, 108);;
}

.text-link:hover {
    background-color: rgb(129, 44, 108);;
    color: white;
}

.links {
    color: rgb(129, 44, 108);;
}

h1 {
    text-align: center;
}

body {
    background-color: rgb(247, 237, 226);
    margin: 5px;
    padding: 15px;
}

.footer {
    display: flex;
    justify-content: center;
    margin-bottom: 5px;
}