html {
    margin: 0;
    padding: 0;
    background-color: rgba(207, 207, 207, 0.699);
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}

#main {
    display: inline-flex;
    width: 96%;
    margin: 0 1%;
    height: 100px;
    padding: 10px;
    background-color: black;
    color: white;
    justify-content: center;
    text-align: center;
}

#main ul {
    display: inline-flex;
    width: 100%;
    justify-content: space-around;
    line-height:63px;
}

li {
    display: flex;
    justify-content: center;
    text-decoration: none;
}

header {
    display: flex;
    flex-direction:column;
    position: relative;
    width: 96%;
    color: #fff;
    background: #af8d8d;
    margin: 0 1%;
    padding: 10px;
}

.some-page-wrapper {
    margin: 15px;
    background-color: rgb(207, 188, 188);
     position: relative;
    width: 96%;
    margin: 0 1%;
    padding: 40px 10px;
    min-height: 100vh;
  }
  
  .row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
  }
  
  .column {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
  }
  footer {
      background: #333;
  }
  